@font-face {
    font-family: 'Calibri';

    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Calibri';
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Calibri';
    font-weight: 100;
}

@font-face {
    font-family: 'Calibri';
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Calibri';
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    font-weight: 800;
}

@font-face {
    font-family: 'Calibri';
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Calibri';
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Calibri';
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Calibri';
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Calibri';
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 600;
    font-style: normal;
}